html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*,
*::before
*::after {
  box-sizing: inherit;
}

:root {
  --color-black: #000;
  --color-dark: #414141;
  --color-gray: #CACACA;
  --color-light: #fff;
  --color-orange: #FF9900;
  --gap: 75px;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-ExtraBold"),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Bold"),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-SemiBold"),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Medium"),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular"),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* glob */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-weight: 400;
  background-color: var(--color-light);
}

.paragraph {
  margin: 0;
  margin-top: 8px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.paragraph-bold {
  margin: 0;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.caption {
  margin: 0;
  color: var(--color-black);
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn {
  max-height: 78px;
  padding: 20px 38px;
  border-radius: 16px;
  background-color: transparent;
  color: var(--color-orange);
}

.flex {
  display: flex;
}

.container {
  max-width: calc(1770px + (var(--gap) * 2));
  padding: 0 var(--gap);
  margin: 0 auto;
}
/* header */

.header {
  background-color: var(--color-light);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  position: relative;
  justify-content: space-between;
}

.burger__btn {
  display: none;
}

.header__search-input {
  width: 540px;
  height: 60px;
  padding: 0 13px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-195%);
  top: 55px;
  right: 15px;
  position: absolute;
  background-color: var(--color-light);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transition: transform .5s ease-in-out;
}

.header__container.open-search .header__search-input {
  transform: translateY(-55%);
}

.header__input {
  width: 412px;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--color-gray);
}

.header__search-cancel {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__search-cancel svg rect {
  fill: var(--color-gray);
  transition:  outline 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.header__search-cancel:focus svg rect {
  outline: transparent;
}

.header__search-cancel:hover  svg rect {
  fill: var(--color-orange);
}

.header__search-cancel:active svg rect {
  fill: var(--color-black);
}

.header__search-cancel svg {
  stroke: var(--color-gray);
  transition: stroke 0.3s ease-in-out;
}

.header__search-cancel:focus svg {
  outline-offset: 2px;
  outline: 2px solid var(--color-orange);
}

.header__search-cancel svg:hover {
  stroke: var(--color-orange);
}

.header__search-cancel svg:active {
  stroke: var(--color-black);
  outline: none;
}

.header__search {
  z-index: 2;
}

.header__search-input input {
  outline: none;
}

.header__search-input input::-webkit-input-placeholder {font-size: 18px;}
.header__search-input input:-moz-placeholder {font-size: 18px;}
.header__search-input input:-o-placeholder {font-size: 18px;}
.header__search-input input:-khtml-placeholder {font-size: 18px;}
.header__search-input input:placeholder {font-size: 18px;}

.header__logo {
  padding: 14px 0;
}

.header__logo-1024-768 {
  display: none;
}

.header__logo-320 {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 39px 0;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  transition:  color 0.3s ease-in-out;
}

.header__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  opacity: 0;
}

.header__link:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__link:active {
  color: #E1670E;
  outline: none;
}

.header__link:active::after {
  background-color: #E1670E
}

.header__list {
  margin-right: 260px;
}

.header__search {
  padding: 0;
  background-color: transparent;
}

.header__search svg rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

.header__search:hover svg rect {
  fill: var(--color-orange);
}

.header__search:active svg rect {
  fill: var(--color-black);
}

.header__search svg {
  stroke: var(--color-black);
  transition:  outline 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__search:focus {
  outline-offset: 2px;
  outline: 2px solid var(--color-orange);
}

.header__search svg:hover {
  stroke: var(--color-orange);
}

.header__search:active {
  outline: none;
}

.header__search svg:active {
  stroke: var(--color-black);
}

/* hero */

.hero__container {
  margin-top: 46px;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
}

.swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet  {
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px
}

.hero__descr {
  position: relative;
  top: 0;
  z-index: 2;
  max-width: 893px;
  padding: 100px 0 100px 80px;
  pointer-events: none;
}

.hero__title {
  margin: 0;
  color: var(--color-light);
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__paragraph {
  margin: 0;
  margin-top: 24px;
  color: var(--color-light);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  margin-top: 90px;
  max-width: 282px;
  height: 78px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  pointer-events: all;
  transition:  background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: #FFB84D;
}

.hero__btn:hover {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: #E1670E;
}

/* about-us */

.about-us__container {
  margin-top: 48px;
}

.about-us__main-prgph {
  margin-top: 20px;
  max-width: 1235px;
}

.about-us__principles {
  margin-top: 50px;
  min-height: 622px;
}

.about-us__left {
  /* width: 50vw; */
  display: flex;
  align-items: flex-end;
  margin-right: 32px;
  background-image: url(../img/Rectangle-2.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 32px;
}

.about-us__block-320 {
  display: none;
}

.about-us__inner {
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-us__paragraph {
  margin: 0;
  margin-right: 20.83%;
  color: var(--color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.about-us__btn {
  max-width: 175px;
  height: 60px;
  color: var(--color-light);
  border: 3px solid var(--color-orange);
  border-radius: 16px;
  transition:  background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-us__btn:focus {
  background-color: var(--color-orange);
}

.about-us__btn:hover {
  background-color: var(--color-orange);
}

.about-us__btn:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about-us__small {
  /* width: 50vw; */
  min-height: 295px;
  padding: 7.47% 14.79% 7.47% 6.89%;
  border: 1px solid var(--color-gray);
  border-radius: 32px;
  background-color: var(--color-light);
}

.about-us__small:not(:last-child){
  margin-bottom: 32px;
}

.about-us__content-first {
  background-image: url(../img/Frame-16.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 35.33%;
  min-width: 102%;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__content-second {
  background-image: url(../img/Frame-12.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 35.33%;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__descr {
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

/* work */

.work__container {
  margin-top: 100px;
}

.work__image {
  display: none;
}

.work__nav {
  margin-top: 50px;
}

.work__bold {
  margin-top: -10px;
}

.work__btn {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.work__btn {
  padding: 0;
  background-color: transparent;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.work__btn--active {
  color: var(--color-orange);
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__btn:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.work__btn:hover {
  color: var(--color-orange);
}

.work__btn:active {
  color: #E1670E;
  outline: none;
}

.work__text-block-1 {
  display: none;
  min-height: 475px;
  background-image: url(../img/Rectangle-18.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 49%;
  padding-right: 56%;
}

.work__text-block-2 {
  display: none;
  min-height: 475px;
  background-image: url(../img/tab-2.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 49%;
  padding-right: 56%;
}

.work__text-block-3 {
  display: none;
  min-height: 475px;
  background-image: url(../img/tab-3.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 49%;
  padding-right: 56%;
}

.work__text-block-4 {
  display: none;
  min-height: 475px;
  background-image: url(../img/tab-4.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 49%;
  padding-right: 56%;
}

.work__text-block--active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__descr {
  margin-top: 55px;
}

.work__buttons {
  margin-top: 15px;
}

.work__btn-left {
  max-width: 175px;
  height: 60px;
  margin-right: 34px;
  color: var(--color-light);
  background-color: var(--color-orange);
  transition:  background-color 0.3s ease-in-out;
}

.work__btn-left:focus {
  background-color: #FFB84D;
}

.work__btn-left:hover {
  background-color: #FFB84D;
}

.work__btn-left:active {
  background-color: #E1670E;
}

.work__btn-right {
  color: var(--color-black);
  border-color: var(--color-black);
  border: 1px solid #000000;
  transition:  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__btn-right:focus {
  color: var(--color-light);
  background-color: #666666;
}

.work__btn-right:hover {
  color: var(--color-light);
  background-color: #666666;
}

.work__btn-right:active {
  color: var(--color-light);
  background-color: var(--color-black);
}

.work__paragraph {
  margin: 0;
}

.work__paragraph-first {
  width: 95%;
}

.work__paragraph-space {
  display: none;
}

/* question */

.question__container {
  margin-top: 94px;
}

.accordion__list {
  margin-top: 32px;
}

.accordion__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.accordion__item {
  cursor: pointer;
}
.accordion__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -1px;
  transition: border-color 0.3s ease-in-out;
}

.accordion__btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  transition-property: transform;
  transition: 0.3s ease-in-out;
}

.accordion__top .accordion__btn svg  {
  transition: fill 0.3s ease-in-out;
}

.accordion__top .accordion__btn svg path {
  transition: fill 0.05s ease-in-out;
}

.accordion__btn svg {
  fill: var(--color-gray);
}

.accordion__btn svg path {
  fill: var(--color-black);
}

.accordion__top:focus .accordion__btn svg {
  fill: var(--color-orange);
}

.accordion__top:focus .accordion__btn svg path {
  fill: var(--color-light);
}

.accordion__top:hover .accordion__btn svg {
  fill: var(--color-orange);
}

.accordion__top:hover .accordion__btn svg path {
  fill: var(--color-light);
}


.accordion__top h3 {
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.accordion__item:active .accordion__btn {
  transform: rotate(45deg);
}
.accordion__top:hover, .accordion__top:focus-within {
  border-color: var(--color-orange);
  position: relative;
  z-index: 1;
}
.accordion__top:hover .accordion__btn,
.accordion__top:focus-within .accordion__btn{
  color: #fff;
  outline: none;
}
.accordion__top:hover h3,
.accordion__top:focus-within h3 {
  color: var(--color-orange);
}

.accordion__top:focus-within {
  outline: 0;
}

.accordion__item.is-active .accordion__btn {
    transform: rotate(45deg);
    color: #fff;
}

.accordion__item.is-active .accordion__top + .accordion__bottom {
  position: relative;
  z-index: 2;
}
.accordion__item.ac {
  margin: 0;
  border: none;
}
.accordion__bottom {
  line-height: 2;
}

.question__accordion {
  margin-top: 32px;
}

.question__block {
  margin-top: 31px;
}

.accordion__control {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: start;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.accordion__control:focus {
  color: var(--color-orange);
}

.accordion__control:hover {
  color: var(--color-orange);
}

.accordion__control:active {
  color: var(--color-black);
}

.ac .ac-trigger::after {
  background-image: url(../img/+Ñ….png);
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visability;
  transition-timing-function: ease-in-out;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__heading {
  margin: 0;
}

.question__item {
  padding: 30px 0;
  width: 100%;
  align-items: center;
  text-align: left;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid transparent;
  color: var(--color-black);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition:  border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.question__item:last-child {
  border-bottom: 1px solid var(--color-gray);
}

.question__item:focus {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.question__item:hover {
  color: var(--color-orange);
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}

.question__item:hover + .question__item {
  border-top: 1px solid transparent;
}

.question__item:last-child:hover {
  border-bottom: 1px solid var(--color-orange);
}

.question__item:active {
  color: var(--color-black);
  border-color: var(--color-gray);
}

/* footer */

.footer {
  background-color: var(--color-black);
  margin-top: 101px;
}

.footer__container {
  padding: 48px 0 50px 0;
  justify-content: space-between;
}

.footer__left {
  margin-right: 130px;
}

.footer__list {
  margin-top: 15px;
}

.footer__link {
  color: var(--color-gray);
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:active {
  color: #E1670E;
}

.footer__social {
  display: flex;
  margin-top: 90px;
}

.social-link svg {
  fill: #666666;
  transition:  outline 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.social-link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--color-orange);
}

.social-link svg:hover {
  fill: var(--color-orange);
}

.social-link svg:active {
  fill: #E1670E;
}

.social-link:active {
  fill: #E1670E;
  outline: none;
}

.footer__ok {
  margin-right: 20px;
}

.footer__caption {
  color: var(--color-gray);
}

.footer__midle {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.footer__input {
  margin-top: 25px;
  padding: 14px 24px;
  border-radius: 16px;
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);
  transition:  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__input:focus {
  background-color: #666666;
}

.footer__input:hover {
  background-color: #666666;
}

.footer__input::-webkit-input-placeholder {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__input:active::-webkit-input-placeholder {
  background-color: #666666;
  color: var(--color-light);
}

.footer__input--small {
  box-sizing: border-box;
  width: inherit;
  height: 60px;
}

.footer__masage {
  box-sizing: border-box;
  width: inherit;
  height: 150px;
  resize: none;
}

.footer__approv {
  align-items: center;
  margin-top: 32px;
}

.footer__btn {
  width: 267px;
  margin-right: 23px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition:  background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: #FFB84D;
}

.footer__btn:hover {
  background-color: #FFB84D;
}

.footer__btn:active {
  background-color: #E1670E;
}

.footer__approv--tick {
  margin-right: 4px;
}

.footer__paragraph {
  margin: 0;
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__right {
  max-width: 363px;
  padding: 89px 0 137px 0;
}

.footer__left-768 {
  display: none;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
  color: var(--color-gray);
}
